<header>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style.css">

</header>

<body>




    <div class="container">
        <div class="row justify-content-center">
            <div class="col/-6">
                <div id="card" class="card">
                    <div class="card-body ">
                        <div style="padding-top: 150px;">
                            <div class="card row " >
                                <img src="../static/ad1.gif" class="card-img-top col-6" alt="...">
                                <div class="card-body">
                                    <p class="card-text textC">Some quick example text to build on the card title and
                                        make </p>
                                    <p class="card-text textC">Some quick example text to build on the card title and
                                        make </p>
                                    <div class="p-2 test textC" id="center">Item{{}} Amount{{}}</div>
                                    <div class="p-2 test textC " id="center">Subtotal{{}}</div>
                                    <div class="p-b-2" id="center">&nbsp;</div>
                                    <div><button type="button" class="btn btn-primary " id="center">Proceed to
                                            payment</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>