{% extends 'base.html' %}

{% block content %}

<body>

    <div class="container p-y-4 " id=" ">

        <div class="" id="center" style="width: 36rem;">
            <img class="p-y-4" id="center pic" src="../static/hunter.jpg" alt=""
                style="width: 36rem; border-radius: 5px;">
        </div>

    </div>
    </div>

    <div class="card p-y-4 m-y-4" style="width: 36rem;" id="center">
        <div class="card-body p-t-4">
            <h5 class="card-title">Name{{item name}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Limited Edition</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="card-link">Add to wishlist</a>
            <button type="button" class="btn btn-primary">Add to cart</button>
            <button type="button" class="btn btn-primary">Check out</button>
        </div>
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
{% endblock %}