<header>

</header>

<body>
    
    <div>
        <div class="container">
            <div class="row">
                <h3 class="col-6">Enter your payment details</h3>
                <div>
                    <form class="col-lg " action="">
                        <input type="text" placeholder="Card number"
                    </form>
                    <form class="col-lg" action="">
                        <input type="text" placeholder="Street address"
                    </form>
                    <form class="col-lg" action="">
                        <input type="text" placeholder="Apt,unit, suite, etc (optional)"
                    </form>
                    <form class="col-lg" action="">
                        <input type="text" placeholder="United States/Canada"
                    </form>
                </div>
                <div class="container">
                    <div class="row">
                        <form class = "col-4">
                            <input type="text" placeholder="City"
                        </form>
                        <form class = "col-2">
                            <input type="text" placeholder="State"
                        </form>
                        <form class = "col-2">
                            <input type="number" placeholder="Zip code"
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="d-flex vr" style="height: 100%;">
        <div class="vr"></div>
    </div>
    <div></div>
</div>
</body>