{% extends 'base.html' %}
{% block content %}


<body>
    <div class="big-container"
        style="margin-top: 50px; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly;">

        {% for k in range(20) %}

        <div class="card"
            style="background-color: bisque; border: 1px solid black; border-radius: 8px; overflow: hidden; display: flex; flex-direction: column; width: 350px;">
            <div class="column" style="height: 250px; background-color: gainsboro;">
                <a href="ind-product.html/{{k}}"><img
                        style="display: block; margin: auto; max-height: 250px; max-width: 350px;" src='{{ p[k]["image"] }}'></a>
            </div>
            <div class="column" style="height: 40px; text-align: center; font-size: x-large;"><a
                    href="ind-product.html/{{k}}"><strong> {{ p[k]["name"] }} </strong></a></div>
            <div class="column" style="height: 40px; text-align: center; background-color: gainsboro;"> Video Game: {{
                p[k]["amiiboSeries"] }} </div>
            <div class="column" style="margin-bottom: 0px; height: 40px; text-align: center;"> Release: {{
                p[k]["release"]["na"] }} </div>
            <div class="column" style="margin-bottom: 20px; height: 40px; text-align: center;">
                <button class="btn btn-primary"> Add to Cart </button>
                <button class="btn btn-light"> View item </button>
            </div>
        </div>

        {% endfor %}

    </div>
</body>
{% endblock %}